// Font
$font-stack: 'Roboto', sans-serif;

// Font weights
$font-weights: (
    'light': 300,
    'normal': 400,
    'bold': 700,
    'black': 900,
);


// Font mixin
@mixin font($weight) {
  font-family: $font-stack;
  font-weight: map-get($font-weights, $weight);
}